#root {
  width: 100%;
  height: 100%;
}

/* --unnamed-color-040404: #040404;
--unnamed-color-f1f1f1: #F1F1F1;
--unnamed-color-3b486d: #3B486D;
--unnamed-color-858688: #858688;
--unnamed-color-ffffff: #FFFFFF; */
